# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
lstm/

# Ignore environment variables
.env
*.env

# Ignore logs and debug files
*.log
debug.log

# Ignore dataset and model files
data/
*.h5
*.hdf5
*.ckpt
*.pt
*.onnx
*.tflite

# Ignore system/IDE files
.DS_Store
.vscode/
.idea/
*.swp
